.scroll-view_H{
  white-space: nowrap;
  height: 100%;
}
.add-button {
  position: fixed;
  bottom: 150px;
  right: 20px;
  width: 70px;
  height: 70px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 70px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}